{% extends 'home.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="row">
    <div class="card no-bg view-balance">
        <a href="/">
            <h1 class="hide-text">Balance</h1>
            <h2>Account Title</h2>
        </a>
    </div>


    <a href="" class="card card-link c-f20"><i class='fa-solid fa-circle-dollar-to-slot'></i>View/Edit Budget</a>

    <a href="" class="card card-link c-f20"><i class='fa-solid fa-file-invoice'></i>View All Transactions</a>

    <a href="" class="card card-link c-f20"><i class='fa-solid fa-share-nodes'></i>Shared Expenses</a>

</div>
{% endblock %}