/* sidebar styling */
.user-profile img {
    width: 25%;
    padding:10px;
    border: 2px solid var(--accentblue);
    background-color: #FFFFFF;
    border-radius:50%;
}

.nav {
    display:block;
    width:100%;
}

.nav a {
    display:block;
    background-color: var(--yellow);
    padding:5px;
    text-decoration: none;
    color:#FFFFFF;
    text-transform: uppercase;
    border-radius:10px;
    margin:8px 10%;
    border:1px solid var(--accentyellow);
    font-weight: bold;
}

.qb {
    display:block;
    width:100%;
    margin-top:20px;
}

.qb h2 { margin:0; padding-top: 10px; }

.qb-account h2 {
    margin:0;
    font-size:20px;
}

.qb-balance {
    background-color: var(--accentblue);
    padding:10px;
    margin:8px 20%;
    border-radius:10px;
    font-size:18px;
}
