.message-history {
    height: 375px;
    overflow-y: scroll;
}

.type-in {
    width: 100%;
}

.type-in input[type="text"] {
    width:75%;
    margin:0px;
    padding:5px;
}

.type-in input[type="submit"] {
    width:20%;
    margin:0px;
    padding:5px;
}

/* styling of responses */
.message-history i {
    padding:5px;
    margin:5px;
    border-radius:2px;
    color:#FFF;
}

.user-text {
    text-align: right;
}

.bot-icon {
    background-color: var(--blue);
}

.user-icon {
    float:right;
    background-color: var(--yellow);
}