.notification:nth-child(odd) {
    background-color: var(--gray);
    padding:5px;
}

.notification .timestamp {
    float:right;
    font-size:smaller;
}

.notification li {
    list-style-type: none;
}

.notification li.title {
    font-weight:800;
    margin:10px 0px;
}

.notification li.desc, .notification li button {
    margin:5px 0px;
}

.notification li button {
    padding:3px 6px;
    border:1px solid #000;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
}

.notification li button:last-child {
    background-color: var(--red);
    color:#FFF;
}