#my-profile-info {
    background-color: var(--red);
    color:#FFFFFF;
}

#my-profile-info i {
    padding:5px;
}

#my-profile-info ul {
    list-style-type: none;
    margin:0px;
}

.form-change-info {
    text-align: center;
}

.form-change-info input {
    display:block;
    margin:10px auto;
    padding:5px;
}

.form-change-info input[type="submit"] {
    background-color: var(--yellow);
    padding:5px 10px;
    color:#FFFFFF;
    border:2px solid #000000;
    font-weight:bold;
    font-family: 'Roboto', sans-serif;
    border-radius:5px;
    font-size:15px;
}