/* container for sidebar */
.sidebar {
    margin: 0px;
    padding: 0px;
    width: 20%;
    background-color: var(--blue);
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

/* sidebar styling */
.profile-img {
    position: relative;
    width:max-content;
    margin:0px auto;
}
.profile-img img {
    width: 100px;
    padding: 5px;
    border: 2px solid var(--accentblue);
    background-color: var(--yellow);
    border-radius: 50%;
}

.log-out-button {
    visibility: hidden;
    position:absolute;
    font-size:50px;
    top:0;
    width:100%;
    height:100%;
    border:none;
    left:0;
    border-radius: 50%;
    opacity: 0;
    transition:opacity 2s;
    cursor: pointer;
}
.profile-img:hover .log-out-button {
    visibility: visible;
    opacity: 1;
}
.profile-img span {
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: small;
}


.nav {
    display: block;
    width: 100%;
}

.nav:last-child {
    padding-bottom: 20px;
}

.nav a {
    display: block;
    background-color: var(--accentblue);
    padding: 5px;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    border-radius: 10px;
    margin: 8px 10%;
    font-weight: bold;
    text-align: left;
}

.nav a:hover, .log-out-button:hover {
    background-color: var(--yellow);
    box-shadow: 2px 2px var(--accentyellow);
    transition: background-color 0.25s;
    text-shadow: 1px 1px 1px var(--accentyellow);
}

.log-out-button:hover {
    color:#FFF;
}

.nav a:active {
    background-color: var(--accentyellow);
}