#transactions-tbl {
    width:100%;
    border-collapse: collapse;
    overflow-x: auto;
}

#transactions-tbl button {
    margin:1px 3px;
}

.transtbl-nav {
    position:absolute;
    top:10px;
    left:10px;
    border-radius: 10px;
    font-size:30px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #000;

}

.transtbl-nav:hover {
    background-color: var(--yellow);
    color:#FFF;
    box-shadow: 4px 4px 1px var(--accentyellow);
    transition: background-color 0.25s, box-shadow 0.25s;
}

.transtbl-nav:active {
    background-color: var(--accentyellow);
}

th {
    padding:10px;
    background-color: #000;
    color: #FFF;
}

td {
    border-top:1px solid #000;
    text-align: center;
    padding:10px;
}

@media screen and (max-width: 700px) {
    #transactions-tbl {
        display:block;
    }
}
