#chat-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    overflow-y: auto;
}

h1 {
    color: black;
    text-align: center;
}

.chat-history {
    height: 400px;
    overflow-y: scroll;
}

.user-message {
    background-color: #daf1da;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-align: right;
}

.chatbot-response {
    background-color: #f1f1da;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-align: left;
}

.error-message {
    color: red;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
}