:root {
  --blue: #003875;
  --accentblue: #002955;
  --yellow: #CB990D;
  --accentyellow: #754E00;
  --red: #D52941;
  --accentred: #990D35;
  --purple: #611C35;
  --white: #FFFFFF;
  --gray: #e0e0e0;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  background-color: var(--accentblue);
  text-overflow: clip;
}

.main {
  margin-left: 20%;
  padding: 1px 0px;
  z-index: 0;
}

@media screen and (max-width: 700px) {
  div.main {
    margin-left: 0;
  }

  .row {
    flex-direction: column;
  }
}

/* each card must be within a row div */
/* to stack card on top of each other, use row-v */
.row {
  display: flex;
  flex-wrap: wrap;
}

.row-v {
  flex-direction: column;
}

.row-title {
  color: #FFFFFF;
  margin: 15px 15px;
  padding-left: 20px;
}

.row-title2 {
  text-align: center;
  color: #FFF;
  margin-top: 5%;
}

/* hides balance then reveals it once hovered over */
.hide-text {
  color: transparent;
  text-shadow: 0 0 10px #FFFFFF;
  user-select: none;
}

.card:hover .hide-text {
  text-shadow: none;
  color: #FFFFFF;
}

.hover-link:hover > a {
  visibility: visible;
}

.hover-link > a {
  visibility: hidden;
}


/* used to make popups */
.dimmer {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  width: 80%;
  height: 100%;
  z-index: 101;
}

@media screen and (max-width:700px) {
  .dimmer {
    width: 100%;
  }
}

.dimmer h2 {
  text-align: center;
  color: #FFF;
  margin-top: 5%;
}

.dimmer .row {
  flex-direction: column;
  width: 300px;
  margin: 30px auto;
  text-align: center;
  z-index: 4;
}

/* styling forms */
.form-deco * {
  display: block;
  margin: 20px auto;
  padding: 5px;
  width: 65%;
}

.form-deco select {
  margin: 20px 0px;
  width: 100%;
}

.form-deco input[type='submit'] {
  cursor: pointer;
  background-color: var(--yellow);
  border: 1px solid var(--accentyellow);
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  padding: 5px 15px;
  border-radius: 5px;
  text-shadow: 1px 1px 1px var(--accentyellow);
  text-transform: uppercase;

}

.form-deco input[type="submit"]:hover {
  border: 2px solid var(--accentyellow);
  box-shadow: 2px 2px var(--accentyellow);
}

.form-deco input[type="submit"]:active {
  background-color: var(--accentyellow);
}

/** Tool tips **/
.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  max-width: 150px;
  text-align: center;
  padding: 5px 10px;
  background-color: var(--gray);
  color: #000;
  border: 1px solid #000;
  font-size: 13px;
  border-radius: 6px;
  position: absolute;
  z-index: 100;
  top: 60%;
  opacity: 0;
  transition: opacity 0.5s;
  transition-property: opacity;
  transition-delay: 1s;
  text-shadow: none;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/** table styling **/
table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
}

/** MISC. STYLING **/
a {
  text-decoration: none;
}

/* used for adding padding to font awesome icons */
.pd-5 {
  padding: 5px;
}

.txt-c {
  text-align: center;
}

