/* container for sidebar */
.sidebar {
    margin: 0px;
    padding: 0px;
    width: 20%;
    background-color: var(--blue);
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
}

.Logo {
    display: block;
    width: 100px;
    /* Adjust width as needed */
    margin: 20px auto;
    /* Adjust margin as needed */
}

.Logo img {
    width: 100%;
    height: auto;
}


.sidebar h1 a {
    color: #FFF;
    text-decoration: none;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

/* sidebar styling */
.profile-img {
    position: relative;
    width: max-content;
    margin: 0px auto;
}

.profile-img img {
    width: 100px;
    padding: 5px;
    border: 2px solid var(--accentblue);
    background-color: var(--yellow);
    border-radius: 50%;
}

.nav {
    display: block;
    width: 100%;
}

.nav:last-child {
    padding-bottom: 20px;
}

.nav a {
    display: block;
    background-color: var(--accentblue);
    padding: 5px;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    border-radius: 10px;
    margin: 8px 10%;
    font-weight: bold;
    text-align: left;
}

.nav a:hover {
    background-color: var(--yellow);
    box-shadow: 2px 2px var(--accentyellow);
    transition: background-color 0.25s;
    text-shadow: 1px 1px 1px var(--accentyellow);
}

.nav a:active {
    background-color: var(--accentyellow);
}