.topbar {
    color:var(--white);
    padding: 0px;
    margin:0px;
    width:100%;
}

.topbar a {
    color:#FFF;
}

.topbar ul {
    overflow:hidden;
    list-style-type:none;
    margin:0px;
    padding:0px;
}

.topbar li:first-child {
    float:left;
    display:block;
    padding:10px 15px;
    border-radius:10px;
}

.topbar li:first-child:hover {
    text-decoration: underline;
}

.topbar button {
    font-size: 20px;
    float:right;
    margin:20px 10px;
    padding:10px 15px;
    border-radius: 5px;
    border:none;
    background-color: var(--yellow);
    color:#FFF;
}

.topbar button:hover {
    box-shadow: 3px 3px 1px var(--accentyellow);
}

.topbar button:active {
    background-color: var(--accentyellow);
}

.page-title {
    font-size:xx-large;
    font-weight:bold;
    margin:25px 10px 10px 25px;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: calc(100% + 5px); /* Position right below the button */
    right: 0; /* Align right side of the dropdown with the right side of the button */
    background-color: white; /* White background */
    color: black; /* Black text */
    z-index: 1; /* Ensure it's on top of other content */
    border: 1px solid black; /* Add a border for visibility */
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}