{% extends 'dashboard.html' %}

{% block title %}Budget{% endblock %}

{% block inner_content %}
<div class="row">
    <div class="card">
        <button onclick="toggleAdd()">Add Budget</button>
    </div>
    {% for budget in budgets %}
    <div class="card">
    </div>
</div>


<!-- add budget popup -->
<div id="add-category" class="dimmer" style="display:none;">
    <h2>Add Budget</h2>
    <div class="row card">
        <button class='card-x-button fa-solid fa-x' onclick="toggleAdd()"></button>
        <form action="{{ url_for('add_budget', account_id=account.account_id)}}" method="post">
            <label for="title">Budget Title</label>
            <input type="text" id="title" name="title" value="" required />
            <input type="color" id="color" name="color" value="" />
            <label for="amount">Spending Goal</label>
            <input type="number" id="amount" name="amount" step="0.01" min="0" placeholder="0" value="" required />
            <input type="submit" />
        </form>
    </div>
</div>

<script>
    /* toggles add transactions popup */
    function toggleAdd() {
        let add = document.getElementById('add-category');
        if (add.style.display === 'none') {
            add.style.display = 'block';
        } else {
            add.style.display = 'none';
        }
    }
</script>
{% endblock %}