{% extends 'dashboard.html' %}

{% block inner_content %}
<div class="row row-v">
    <div class="card">
        <h2>Add Budget</h2>
        <form action="{{ url_for('budget', account_id=account.account_id)}}" method="post">
            <input
                type="text"
                id="title"
                name="title"
                value=""
                placeholder="Budget Name"
                required />
            <input
                type="color"
                id="color"
                name="color"
                value="" />
            <input
                type="number"
                id="amount"
                name="amount"
                step="0.01"
                min="0"
                placeholder="0"
                value="" 
                required />
            <input
                type="date"
                id="start_date"
                name="start_date"
                value="" />
            <input
                type="date"
                id="end_date"
                name="end_date"
                value="" />
            <input type="submit"/>
        </form>
    </div>
    <div class="card">
        <h2>All Budgets</h2>
        {% if budgets %}
            {% for budget in budgets %}
                <li>{{ budget.budget_id }}, {{ budget.category_id }}, {{ budget.amount }}
                <a href="{{ url_for('editbudget', account_id=account.account_id, budget_id=budget.budget_id)}}"><button><i class="fa-solid fa-pen-to-square"></i>Edit</button></a>
                <form action="{{ url_for('deletebudget', account_id=account.account_id, budget_id=budget.budget_id)}}" method="post">
                    <button type="submit"><i class="fa-solid fa-trash"></i>Delete</button>
                </form>
                </li>
            {% endfor %}
        {% endif %}
    </div>
    <div class="card">
        <h2>Categories</h2>
        {% if categories %}
            {% for category in categories %}
                <li>{{ category.category_id }}, {{ category.category_name }}, {{ category.symbol }}, {{ category.color }}</li>
            {% endfor %}
        {% endif %}
    </div>
</div>

<!-- add category popup -->
<div id="add-category" class="dimmer" style="display:none;">
    <h2>Add Category</h2>
    <div class="row card">
        <button class='card-x-button fa-solid fa-x' onclick="toggleAdd()"></button>
        <form action="{{ url_for('budget', account_id=account.account_id )}}" method="post" class="form-deco">
            <input
                type="text"
                id="name"
                name="name"
                value=""
                placeholder="Name"
                required />
            <input 
                type="color"
                id="color"
                name="color"
                value=""
                required />
        </form>
    </div>
</div>

<script>
    /* toggles add transactions popup */
    function toggleAdd() {
        let add = document.getElementById('add-category');
        if (add.style.display === 'none') {
            add.style.display = 'block';
        } else {
            add.style.display = 'none';
        }
    }
</script>
{% endblock %}