<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chatbot - Flashfin</title>
    <meta name="description" content="Chatbot page for Flashfin">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='chatbot.css') }}">
</head>

<body>
    <div id="chat-container">
        <h1>Chatbot Conversation</h1>
        <div class="chat-history">
            {% for message in messages %}
            <div
                class="{{ 'user-message' if message.role == 'user' else 'chatbot-response' if message.role == 'bot' else 'error-message' }}">
                {{ message.content }}
            </div>
            {% endfor %}
        </div>
        <form action="{{ url_for('chatbot') }}" method="post">
            <input type="text" name="message" placeholder="Type your message here..." required
                aria-label="Enter your message here">
            <input type="submit" value="Send" aria-label="Send your message">

        </form>
    </div>
</body>

</html>



<!-- <body>
    <h1>Chatbot Conversation</h1>
    <div id="chat-container">
        {% if user_message %}
        <div class="user-message">{{ user_message }}</div>
        <div class="chatbot-response">{{ chatbot_response }}</div>
        {% endif %}
        {% if error_message %}
        <div class="error-message">{{ error_message }}</div>
        {% endif %}
    </div>
    <form action="{{ url_for('chatbot') }}" method="post">
        <input type="text" name="message" placeholder="Type your message here...">
        <input type="submit" value="Send" />
    </form>
</body> -->