{% extends 'index.html' %}

{% block title %}<a href="{{ url_for('account', account_id=account.account_id)}}"><li class="page-title">{{ account.account_name }}</li></a>{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='transactionstable.css') }}">
{% endblock %}

{% block content %}
<div class="row">
    {% if balance %}
    <div class="card no-bg view-balance">
        <a href="{{ url_for('account', account_id = account.account_id) }}">
            <h1 class="hide-text">{{ balance }}</h1>
            <h2>Current Balance</h2>
        </a>
    </div>
    {% endif %}


    <a href="{{ url_for('get_budgets', account_id=account.account_id)}}" class="card card-link c-f20"><i class='fa-solid fa-circle-dollar-to-slot'></i>View/Edit Budget</a>

    <a href="{{ url_for('transactions', account_id=account.account_id)}}" class="card card-link c-f20"><i class='fa-solid fa-file-invoice'></i>View All Transactions</a>

    <!--<a href="" class="card card-link c-f20"><i class='fa-solid fa-share-nodes'></i>Shared Expenses</a>--->

</div>

{% block inner_content %}
<div class="row">
    <div class="card">
        <h2>Account Notifications</h2>
    </div>
    <div class="card">
        <h2>Recent Transactions</h2>
        <table id="transactions-tbl">
            <thead>
                <th class='tooltip'><i class="fa-regular fa-calendar"></i><span class='tooltiptext'>Date</span></th>
                <th class='tooltip'><i class="fa-solid fa-building-columns"></i>
                    <span class='tooltiptext'>Description</span>
                </th>
                <th class='tooltip'><i class="fa-solid fa-money-bill"></i><span class='tooltiptext'>Amount</span>
                </th>
            </thead>
            {% if transactions %}
            {% for transaction in transactions %}
            <tbody>
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.title }}</td>
                <td>{{ transaction.amount }}</td>
            </tbody>
            {% endfor %}
            {% endif %}
        </table>
    </div>
</div>

{% if budgets %}
<div class="row">
    <div class="card">
        <table>
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Budgeted</th>
                    <th>Activity</th>
                    <th>Available</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for budget in budgets %}
                {% set available = get_category_balance(budget.category_id, budget.budget_id) %}
                {% set activity = budget.amount - available %}
                <tr>
                    <td>{{ budget.category.category_name }}</td>
                    <td>{{ budget.amount }}</td>
                    <td>{{ activity }}</td>
                    <td>{{ available }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endblock %}
{% endblock %}