{% extends 'index.html' %}

<!-- account variables -->
{% set account_stats = get_account_stats(account.account_id) %}
{% set budgets_stats = get_budget_stats(account.account_id) %}

{% block title %}<a href="{{ url_for('account', account_id=account.account_id)}}">Dashboard</a><span style="text-decoration: none;">{% block subtitle %}{% endblock%}</span>
{% endblock %}


{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='transactionstable.css') }}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="card no-bg view-balance">
        <a href="{{ url_for('account', account_id = account.account_id) }}">
            <h1 class="hide-text">{{ account_stats["balance"] }}</h1>
            <h2>Current Balance</h2>
        </a>
    </div>


    <a href="{{ url_for('get_budgets', account_id=account.account_id)}}" class="card card-link"><i class='fa-solid fa-circle-dollar-to-slot'></i>Edit Categories</a>

    <a href="{{ url_for('transactions', account_id=account.account_id)}}" class="card card-link c-f20"><i class='fa-solid fa-file-invoice'></i>View All Transactions</a>

    <!--<a href="" class="card card-link c-f20"><i class='fa-solid fa-share-nodes'></i>Shared Expenses</a>--->

</div>

{% block inner_content %}
<div class="row">
    <div class="card">
        <h2>Account Notifications</h2>
        {% set notifications = get_notifications(account.account_id) %}
        <!-- display account notifications -->
        {% if notifications %}
            {% for notification_id, notification in notifications.items() %}
                <a href="#">{{ notification.timestamp }} : Alert - Low Account Balance</a></br >
            {% endfor %}
        {% else %}
            <p>No notifications</p>
        {% endif %}

    </div>
    <div class="card">
        <h2>Recent Transactions</h2>
        <table id="transactions-tbl">
            <thead>
                <th class='tooltip'><i class="fa-regular fa-calendar"></i><span class='tooltiptext'>Date</span></th>
                <th class='tooltip'><i class="fa-solid fa-building-columns"></i>
                    <span class='tooltiptext'>Description</span>
                </th>
                <th class='tooltip'><i class="fa-solid fa-money-bill"></i><span class='tooltiptext'>Amount</span>
                </th>
            </thead>
            {% if transactions %}
            {% for transaction in transactions %}
            <tbody>
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.title }}</td>
                <td>{{ transaction.amount }}</td>
            </tbody>
            {% endfor %}
            {% endif %}
        </table>
    </div>
</div>

<div class="row">
    <div class="card">
        <table>
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Budgeted</th>
                    <th>Activity</th>
                    <th>Available</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for id, obj in budgets_stats.items() %}
                <tr>
                    <td>{{ id }}</td>
                    <td>{{ obj["amount"] }}</td>
                    <td>{{ obj["activity"] }}</td>
                    <td>{{ obj["available"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="card" id="piegraph">
    </div>
    <script>
       var budgetsStats = JSON.parse('{{ budgets_stats | tojson | safe }}');

        // Extracting data from budgets_stats
        var data = [];
        for (var id in budgetsStats) {
            if (budgetsStats.hasOwnProperty(id)) {
                data.push({
                    label: "Budget: " + id,
                    value: budgetsStats[id].count
                });
            }
        }

        var layout = {
            title: 'Monthly Breakdown',
            height: 500,
            width: 500
        };

        // Plotting the chart
        Plotly.newPlot('piegraph', [{
            values: data.map(item => item.value),
            labels: data.map(item => item.label),
            type: 'pie'
        }], layout);
    </script>
    <div class="card" id="linegraph"></div>
    <script>
        var trace1 = {
            x: [1, 2, 3, 4],
            y: [10, 15, 13, 17],
            type: 'scatter'
          };
          
          var data = [trace1];
          
          Plotly.newPlot('linegraph', data);
          </script>
</div>
{% endblock %}
{% endblock %}