{% extends 'dashboard' %}

{% block inner_content %}
<div class="row">
    <div class="card">
        <h2>Edit Transaction</h2>
        <form action="{{ url_for('edittransaction', account_id=account.account_id, transaction_id=transaction.transaction_id)}}" method="post" class="form-deco">
            <input
                type='date'
                id='date'
                placeholder='Date'
                value='{{ transaction.date }}'
                required />
            <input
                type='text'
                id='title'
                placeholder='Title'
                value='{{ transaction.title }}'
                required />
            <input
                type='number'
                id='amount'
                min='0'
                step='0.01'
                placeholder='Amount'
                value='{{ transaction.amount }}'
                required />
            <select
                id='category_id'>
                <option value='category'>Category</option>
                <option value='category'>Category</option>
                <option value='category'>Category</option>
                <option value='category'>Category</option>
            </select>
            <input type='submit' />
        </form>
    </div>
</div>
{% endblock %}