{% extends 'dashboard.html' %}

{% block inner_content %}
<div class="row">
    <div class="card">
        <h2>Edit Transaction</h2>
        <form action="{{ url_for('edittransaction', account_id=account.account_id, transaction_id=transaction.transaction_id)}}" method="post" class="form-deco">
            <input
                type='date'
                id='date'
                name='date'
                placeholder='Date'
                value='{{ transaction.date }}'
                required />
            <input
                type='text'
                id='title'
                name='title'
                placeholder='Title'
                value='{{ transaction.title }}'
                required />
            <input
                type='number'
                id='amount'
                name='amount'
                step='0.01'
                placeholder='Amount'
                value='{{ transaction.amount }}'
                required />
            <h3>Category</h3>
            {% for item in categories %}
            <input 
                type="radio"
                id="{{item.category.category_id}}"
                name="category_id"    
                value="{{item.category.category_id}}" />
            <label for="{{item.category.category_id}}">{{item.category.category_name}}</label>
            {% endfor%}
            <input type='submit' />
        </form>
    </div>
</div>
{% endblock %}