{% extends 'index.html' %}

{% block title %}Add Account{% endblock %}

{% block content %}
<div class='row'>
    <div class='card'>
    <h2>Edit Account</h2>
        <form class='form-deco' action="{{ url_for('edit_account', account_id=account_id) }}" method="post">
            <label for="new_account_name">New Account Name</label>
            <input type="text" name="new_account_name" id="new_account_name" required />
            <label for="password">Verify Password</label>
            <input id="password" type="password" name="current_password" required />
            <input type="submit" value="Save" />
        </form>
    </div>
</div>
{% endblock %}
