{% extends 'index.html' %}

{% block title %}
    <a href=""><li class="page-title">Notifications</li></a>
{% endblock %}

{% block content %}
<div class="row row-v">
    <div class='card'>
        <h2>Notifications</h2>

        <div class="notification-list">
            {% set accounts_list = get_account_list() %}
            {% for account in accounts_list %}
                <h2>{{ account.account_name}}</h2>
                {% set notifications = get_notifications(account.account_id) %}
                {% if notifications %}
                    {% for notification_id, notification in notifications.items() %}
                        <a href="#">{{ notification.timestamp }} : {{ account.account_name }} Alert - Low Account Balance</a><br>
                    {% endfor %}
                {% else %}
                    <p>No notifications for {{ account.account_name }}</p><br>
                {% endif %}
                <br>
            {% endfor %}
        </div>
        
    </div>
</div>
{% endblock %}