{% extends 'index.html' %}

{% block title %}
    <a href=""><li class="page-title">Notifications</li></a>
{% endblock %}

{% block content %}
<div class="row row-v">
    <div class='card'>
        <h2>Notifications</h2>

        <div class="notification-list">
            {% set all_notifications = [] %}
            {% set accounts_list = get_account_list() %}
            {% for account in accounts_list %}
                {% set notifications = get_notifications(account.account_id) %}
                {% if notifications %}
                    {% for notification_id, notification in notifications.items() %}
                        <a href="#">{{ notification.timestamp }} : Alert - Low Account Balance</a></br >
                    {% endfor %}
                {% endif %}
            {% endfor %}
        
        </div>
        
    </div>
</div>
{% endblock %}