{% extends 'dashboard.html' %}

{% block title %}Split Transaction With Another User{% endblock %}

{% block inner_content %}
<div class="row row-v">
    {% if msg %}
    <div class="card">
        <h3>{{ msg }}</h3>
    </div>
    {% endif %}
    <div class="card">
        <form class="form-deco" action="{{ url_for('sharetransaction', account_id=account.account_id, transaction_id=transaction.transaction_id)}}" method="get">
            {% set transaction_amt = transaction.amount * -1 %}
            <!-- displays info about transaction -->
            <label for="id">Date of Transaction</label>
            <input 
                type="date"
                id="date"  
                name="date" 
                value="{{ transaction.date }}" 
                readonly />
            <label for="amount">Total</label>
            <input 
                type="number"
                id="amount"  
                name="amount" 
                value="{{ transaction_amt }}" 
                readonly />
            <label for="title">Title</label>
            <input 
                type="text"
                id="title"
                name="title"
                value="{{ transaction.title }}"
                readonly />
            <br />
            <label for="split_amount">Share Amount
            <input
                type="number"
                id="split_amount"
                name="split_amount"
                value=" {{ transaction_amt }}"
                min="0"
                max="{{ transaction_amt }}" />
            <label for="receiver">Share With</label>
            <input
                type="text"
                id="receiver"
                name="receiver" 
                value="" 
                required />
            <input type="submit" />
        </form>
    </div>
</div>
{% endblock %}