{% extends '/account/transactions.html' %}

{% block popup %}
<div class='dimmer'>
    <h2>Edit Transaction</h2>
    <div class="row card">
        <a class='card-x-button fa-solid fa-x' href="{{ url_for('transactions')}}"></a>
        <p>Show transaction details
            <hr></hr>
        </p>
        <form class="form-deco">
            <input
                type="text"
                placeholder="Receiver ID"
                required />
            <input
                type="number"
                min="0"
                placeholder="Receiver Amount"
                max=""
                required />
            <input
                type="submit" />
        </form>

    </div>
</div>
{% endblock %}