{% extends "dashboard.html" %}

{% block title %}Transactions{% endblock %}

{% block inner_content %}
<div class="row row-v">
    {% if msg %}
    <div class="card">
        <h3>{{ msg }}</h3>
    </div>
    {% endif %}
    <div class="card">
        <h2>All Transactions</h2>
        View from:
        <form action="{{ url_for('filter_transactions', account_id=account.account_id)}}" , method="get">
            <input type="date" id="start_date" name="start_date" value="" />
            <input type="date" id="end_date" name="end_date" value="" />
            <input type="submit" value="Search" />
        </form>

        <table id="transactions-tbl">
            <thead>
                <tr>
                    <th class="tooltip"><i class="fa-regular fa-calendar"></i><span class="tooltiptext">Date</span></th>
                    <th class="tooltip" style="width:25%;"><i class="fa-solid fa-building-columns"></i>
                        <span class="tooltiptext">Description</span>
                    </th>

                    <th class="tooltip"><i class="fa-solid fa-money-bill"></i><span class="tooltiptext">Amount</span>
                    </th>
                    <th>Balance</th>
                    <th class="tooltip"><i class="fa-solid fa-tags"></i><span class="tooltiptext">Category</span></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td colspan="6"><button onclick="toggleAdd()"><i class="fa-solid fa-plus pd-5"></i>Add
                            Transaction</button></td>
                </tr>
                {% for transaction in transactions %}
                <tr class="hover-container">
                    <td>{{transaction.date}}</td>
                    <td>{{transaction.title}}</td>
                    <td>{{transaction.amount}}</td>
                    <td>{{transaction.amount_remaining}}</td>
                    <td><span class="category-style pd-5" style="background-color:{{transaction.category.color}};">
                            <i
                                class="fa-solid fa-{{transaction.category.symbol}} pd-5"></i>{{transaction.category.category_name}}</span>
                    </td>
                    <td class="hide-item">
                        <!-- buttons for transaction -->
                        <a
                            href="{{ url_for('edittransaction', account_id=account.account_id, transaction_id=transaction.transaction_id)}}"><button><i
                                    class="fa-solid fa-pen-to-square"></i>Edit</button></a>
                        {% if transaction.amount|float < 0 %} <a
                            href="{{ url_for('sharetransaction', account_id=account.account_id, transaction_id=transaction.transaction_id)}}">
                            <button><i class="fa-solid fa-share"></i>Share</button></a>
                            {% endif %}
                            <form
                                action="{{ url_for('deletetransaction', account_id=account.account_id, transaction_id=transaction.transaction_id)}}"
                                method="post">
                                <button type="submit"><i class="fa-solid fa-trash"></i>Delete</button>
                            </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>

<!-- add transaction popup -->
<div id="add-transaction-popup" class="dimmer" style="display:none;">
    <h2>Add Transaction</h2>
    <div class="row card">
        <button class="card-x-button fa-solid fa-x" onclick="toggleAdd()"></button>
        <form action="{{ url_for('addtransaction', account_id=account.account_id)}}" method="post" class="form-deco"
            id="add-transaction">
            <label for="date">Date</label>
            <input type="date" id="date" name="date" value="" required />
            <label for="title">Title</label>
            <input type="text" id="title" name="title" value="" required />
            <label for="amount">Sum</label>
            <input type="number" id="amount" name="amount" value="" min="0" step="0.01" required />
            <input type="radio" id="credit" name="c_or_d" value="credit" checked />
            <label for="credit">Credit</label>
            <input type="radio" id="credit" name="c_or_d" value="debit" />
            <label for="debit">Debit</label>
            <h3>Select Category</h3>
            {% if categories %}
            <select name="category_id" id="category" form="add-transaction">
                {% for item in categories %}
                <option value="{{item.category.category_id}}">{{item.category.category_name}}
                </option>
                {% endfor%}
                {% else %}
                <a href="{{ url_for('get_budgets', account_id=account.account_id)}}">Add Category</a>
                {% endif %}
                <input type="submit" />
        </form>
    </div>
</div>

<script>
    /* toggles add transactions popup */
    function toggleAdd() {
        let add = document.getElementById("add-transaction-popup");
        if (add.style.display === "none") {
            add.style.display = "block";
        } else {
            add.style.display = "none";
        }
    }

    /** from @ikarium on codepen **/
    function pickTextColorBasedOnBgColorAdvanced(rgba) {
        rgba = rgba.match(/\d+/g);
        if ((rgba[0] * 0.299) + (rgba[1] * 0.587) + (rgba[2] * 0.114) > 186) {
            return 'black';
        } else {
            return 'white';
        }
    }

    window.onload = function () {
        const categories = document.getElementsByClassName("category-style");
        for (let i = 0; i < categories.length; i++) {
            console.log('test')
            let color = categories[i].style.backgroundColor;
            let textColor = pickTextColorBasedOnBgColorAdvanced(color);
            categories[i].style.color = textColor
        }
    }
</script>

{% endblock %}