{% extends "dashboard.html" %}

{% block title %}Transactions{% endblock %}

{% block inner_content %}
<div class="row row-v">
    {% if msg %}
    <div class="card">
        <h3>{{ msg }}</h3>
    </div>
    {% endif %}
    <div class="card">
        <h2>All Transactions</h2>

        <table id="transactions-tbl">
            <thead>
                <tr>
                    <th class="tooltip"><i class="fa-regular fa-calendar"></i><span class="tooltiptext">Date</span></th>
                    <th class="tooltip"><i class="fa-solid fa-building-columns"></i>
                        <span class="tooltiptext">Description</span>
                    </th>

                    <th class="tooltip"><i class="fa-solid fa-money-bill"></i><span class="tooltiptext">Amount</span>
                    </th>
                    <th>Balance</th>
                    <th class="tooltip"><i class="fa-solid fa-tags"></i><span class="tooltiptext">Category</span></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td colspan="6"><button onclick="toggleAdd()"><i class="fa-solid fa-plus pd-5"></i>Add Transaction</button></td>
                </tr>
                {% for transaction in transactions %}
                <tr>
                    <td>{{transaction.date}}</td>
                    <td>{{transaction.title}}</td>
                    <td>{{transaction.amount}}</td>
                    <td>{{transaction.amount_remaining}}</td>
                    <td><span style="background-color:{{transaction.category.color}};"> 
                        <i class="fa-solid fa-{{transaction.category.symbol}}"></i>{{transaction.category.category_name}}</span></td>
                    <td>
                        <!-- buttons for transaction -->
                        <a href="{{ url_for('edittransaction', account_id=account.account_id, transaction_id=transaction.transaction_id)}}"><button><i class="fa-solid fa-pen-to-square"></i>Edit</button></a>
                        <a href="{{ url_for('sharetransaction', account_id=account.account_id, transaction_id=transaction.transaction_id)}}"><button><i class="fa-solid fa-share"></i>Share</button></a>
                        <form action="{{ url_for('deletetransaction', account_id=account.account_id, transaction_id=transaction.transaction_id)}}" method="post">
                            <button type="submit"><i class="fa-solid fa-trash"></i>Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>

<!-- add transaction popup -->
<div id="add-transaction" class="dimmer" style="display:none;">
    <h2>Add Transaction</h2>
    <div class="row card">
        <button class="card-x-button fa-solid fa-x" onclick="toggleAdd()"></button>
        <form action="{{ url_for('addtransaction', account_id=account.account_id)}}" method="post" class="form-deco">
            <label for="date">Date</label>
            <input
                type="date"
                id="date"
                name="date"
                value=""
                required />
            <label for="title">Title</label>
            <input
                type="text"
                id="title"
                name="title"
                value=""
                required />
            <label for="amount">Sum</label>
            <!--
            <input 
                type="radio"
                id="credit"
                name="c_or_d"
                value="-1"
                checked />
            <label for="credit">Credit</label>
            <input 
                type="radio"
                id="credit"
                name="c_or_d"
                value="1"
                />
            <label for="debit">Debit</label>-->
            <input
                type="number"
                id="debit"
                name="amount"
                value=""
                step="0.01"
                required /> 
            <h3>Select Category</h3>
            {% if categories %}
            {% for item in categories %}
            <input 
                type="radio"
                id="{{item.category.category_id}}"
                name="category_id"    
                value="{{item.category.category_id}}" />
            <label for="{{item.category.category_id}}">{{item.category.category_name}}</label>
            {% endfor%}
            {% else %}
            <a href="{{ url_for('get_budgets', account_id=account.account_id)}}">Add Category</a>
            {% endif %}
            <input type="submit" />
        </form>
    </div>
</div>

<script>
    /* toggles add transactions popup */
    function toggleAdd() {
        let add = document.getElementById("add-transaction");
        if (add.style.display === "none") {
            add.style.display = "block";
        } else {
            add.style.display = "none";
        }
    }
</script>

{% endblock %}