{% extends 'dashboard.html' %}

{% block inner_content %}
<div class="row row-v">
    <div class='card'>
        <h2>All Transactions</h2>

        <table id="transactions-tbl">
            <thead>
                <tr>
                    <th class='tooltip'><i class="fa-regular fa-calendar"></i><span class='tooltiptext'>Date</span></th>
                    <th class='tooltip'><i class="fa-solid fa-building-columns"></i>
                        <span class='tooltiptext'>Description</span>
                    </th>

                    <th class='tooltip'><i class="fa-solid fa-money-bill"></i><span class='tooltiptext'>Amount</span>
                    </th>
                    <th>Balance</th>
                    <th class='tooltip'><i class="fa-solid fa-tags"></i><span class='tooltiptext'>Category</span></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td colspan="6"><button onclick="toggleAdd()"><i class='fa-solid fa-plus pd-5'></i>Add Transaction</button></td>
                </tr>
                {% for transaction in transactions %}
                <tr>
                    <td>{{transaction.date}}</td>
                    <td>{{transaction.title}}</td>
                    <td>{{transaction.amount}}</td>
                    <td>{{transaction.amount_remaining}}</td>
                    <td>{{transaction.category_id}}</td>
                    <td>
                        <!-- buttons for transaction -->
                        <a href="{{ url_for('edittransaction', account_id=account.account_id, transaction_id=transaction.transaction_id)}}"><button><i class="fa-solid fa-pen-to-square"></i>Edit</button></a>
                        <form action="{{ url_for('deletetransaction', account_id=account.account_id, transaction_id=transaction.transaction_id)}}" method="post">
                            <button type="submit"><i class="fa-solid fa-trash"></i>Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>

<!-- add transaction popup -->
<div id="add-transaction" class='dimmer' style='display:none;'>
    <h2>Add Transaction</h2>
    <div class='row card'>
        <button class='card-x-button fa-solid fa-x' onclick="toggleAdd()"></button>
        <form action="{{ url_for('addtransaction', account_id=account.account_id)}}" method='post' class='form-deco'>
            <input
                type='date'
                id='date'
                name='date'
                value=''
                placeholder='Date'
                required />
            <input
                type='text'
                id='title'
                name='title'
                value=''
                placeholder='Title'
                required />
            <input
                type='number'
                id='amount'
                name='amount'
                value=''
                step='0.01'
                placeholder='Amount'
                required />
            <select
                id='category_id'
                name='category_id'>
                <option value='category'>Category</option>
                <option value='category'>Category</option>
                <option value='category'>Category</option>
                <option value='category'>Category</option>
            </select>
            <input type='submit' />
        </form>
    </div>
</div>

<script>
    /* toggles add transactions popup */
    function toggleAdd() {
        let add = document.getElementById('add-transaction');
        if (add.style.display === 'none') {
            add.style.display = 'block';
        } else {
            add.style.display = 'none';
        }
    }
</script>

{% endblock %}